
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
  }

body {
 
    background: linear-gradient( #060644, rgb(38, 4, 54));
    font-family: 'Fira Sans', sans-serif;

    
}

header {
    display: flex;
    flex-direction: column;
}

.girly {
    display: flex;
    align-items: center;
    height: 100%;
}

.girly:after {
    content: "";
    position: absolute;
    display: flex;
    background-image: url(./resources/images/heading_ver6-01.png);
    background-position: cover;
    background-size: 100% auto;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: none;
    z-index: -1;
    height: 100%;
 
}

.navigation-items {
    list-style: none;
    margin-top: 3vw;
    margin-left: 4vw;
}

li.navigation-item {
    display: inline-block;
    background: rgba(190, 220, 248, 0.7);
    border: 10px;
    border-radius: 12%;
    font-size: 2.5vw;

    display: inline-block;
    padding: 12px;
    margin-right: 5px;
    letter-spacing: 4px;
    list-style: none;

}

li.navigation-item a {
    color: rgb(55, 9, 65);
    z-index: 2;
    font-family: 'PT Sans', sans-serif;

}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration:underline; }


a:active { text-decoration:double; }

#introduction {
    margin-top: 20rem;
    top: 10rem;
    overflow: hidden;
    width: max-content;
    display: flex;
    flex-direction: column;
}


/* Hello there part */

#introduction {
  margin-left: 4vw;
  text-align: center;
}

h1 {
    color: white;
    font-family: 'Alex Brush', cursive;
    font-size: 6vw;
    font-weight: 200;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    padding: 10px 29px;
    border-color: purple;
}

h2 {
    color: rgb(189, 187, 202);
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
}

h3 {
  color: white;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 1.3vw;
  font-weight: 100;
}

/*About me part*/

#aboutMe {
  margin: 10vw 5vw 8vw 26vw;

#aboutMe h4 {
color: white;
font-family: 'PT Sans', sans-serif;
letter-spacing: 3px;
font-size: 1.7vw;
font-weight: 100;
text-align: right;
}

/* Slider */

.parent_slider {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    cursor: move;
  }
  
  .image {
    width: 50vw;
    height: 50vw;
    object-fit: contain;
  }
  
  .slide {
    width: 100%;
    display: flex !important;
  }
  
  .text {
    width: 50%;
    display: flex;
  }
  
  .picture {
    width: 50%;
    display: flex;
  }
  
  .text_slide {
    margin-left: 30px;
    margin-right: 10px;
    max-width: 426px;
    font-size: 22px;
    font-family: "Avenir-Roman";
    line-height: 30px;
    padding-top: 27px;
    font-weight: 300;
    letter-spacing: 0.44px;
    color: #323232;
  }
  
  .author-slider {
    padding-top: 40px;
    margin-left: 30px;
    position: relative;
    font-size: 36px;
    font-weight: 500;
    line-height: 0.86;
    letter-spacing: 1.12px;
    color: #323232;
  }
  
  .slickkdots li button:hover,
  .slickkdots li button:focus {
    outline: none;
  }
  
  .slickkdots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 60%;
    bottom: 0;
    list-style-type: none;
  }
  .slickkdots li {
    margin: 0 12px;
  }
  .slickkdots button {
    display: block;
    width: 17px;
    height: 17px;
    border: none;
    border-radius: 100%;
    background-color: #EBEBEB;
    text-indent: -9999px;
  }
  .slickkdots li.slick-active button {
    background-color: #00BFA5;
  }


/* Style the button that is used to open and close the collapsible content 
.collapsible {
    display: inline-flex;
    
    margin-right: 20px;
    padding-left: 20vw;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }*/
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) 
  .active, .collapsible:hover {
    background-color: #ccc;
  } 
  
  /* Style the collapsible content. Note: hidden by default 
  .content {
    padding-left: 20vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 18px;
    background-color: #f1f1f1;
    
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) 
  } 

 
/* Bottom artist info */

  .kristi {

    padding-top: 0.5rem;
    position: absolute;
    
}


.kristi img {
    margin-top: 5vw;
    margin-left: 37vw;
    margin-right: auto;
    width: 23vw;
    height: auto;
    border-radius: 20px;
    border: 2px solid white;
    z-index: 1;
}

.kristi h3 {

    font-size: 2vw;
    border: 1px solid white;
    background-color: white;
    padding: 1vw;
    padding-left: -1%;
    border-radius: 29px;
    font-weight: bold;
    opacity: 62%;
    margin-right: 41vw;
    margin-left: 43vw;
    text-align: center;
}

p#whatAmI {
    font-size: 2vw;
    border: 1px solid white;
    background-color: white;
    padding: 1vw;
    border-radius: 29px;
    font-weight: bold;
    opacity: 62%;
    margin-left: 20vw;
    margin-right: 20vw;
}


/* Footer image */

  #bottomPicture {
margin-top: 22vw;
    position: relative;
    bottom: 0;
}

#bottomPicture img{
   width: 100%;
   height: auto;
    position: relative;
    margin: auto;
    z-index: -2;
}

