
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
  }

body {
 
  background-color: black;
    font-family: 'Fira Sans', sans-serif;

    
}

header {
    display: flex;
    flex-direction: column;
}

.girly {
    display: flex;
    align-items: center;
    height: 100%;
}

.girly:after {
    content: "";
    position: absolute;
    display: flex;
    background-image: url(./resources/images/heading_ver6-01.png);
    background-position: cover;
    background-size: 100% auto;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: none;
    z-index: -1;
    height: 100%;
 
}

.navigation-items {
    list-style: none;
    margin-top: 3vw;
    margin-left: 4vw;
}

li.navigation-item {
    display: inline-block;
    background: rgba(190, 220, 248, 0.7);
    border: 10px;
    border-radius: 12%;
    font-size: 2.5vw;

    display: inline-block;
    padding: 12px;
    margin-right: 5px;
    letter-spacing: 4px;
    list-style: none;

}

li.navigation-item a {
    color: rgb(55, 9, 65);
    z-index: 2;
    font-family: 'PT Sans', sans-serif;

}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration:underline; }


a:active { text-decoration:double; }

#introduction {
    margin-top: 20rem;
    top: 10rem;
    overflow: hidden;
    width: max-content;
    display: flex;
    flex-direction: column;
}


/* Hello there part */

#introduction {
  margin-left: 4vw;
  text-align: center;
  top: 5vw;
  position: relative;
}

h1 {
    color: white;
    font-family: 'Alex Brush', cursive;
    font-size: 6vw;
    font-weight: 200;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    padding: 10px 29px;
    border-color: purple;
}

h2 {
    color: rgb(189, 187, 202);
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
}

h3 {
  color: white;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 1.3vw;
  font-weight: 100;
}


/*About me part*/

#aboutMe {
  margin: 10vw 5vw 8vw 5vw;
}

#aboutMe h2 {
 
  text-align: right;
  color: rgb(255, 255, 255);
  font-size: 4vw;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 4px;
  margin-top: -2vw;
  margin-bottom: -2vw;
}

#aboutMe h3 {
  color: #a817e9;
  margin-top: 15vw;
  text-align: right;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 2vw;
  font-weight: bold;
}

#aboutMe h4 {
color: white;

  font-family: 'PT Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 1.3vw;
  font-weight: 100;
  text-align: right;
  border-top: solid;
  border-width: 2px;
  padding: 10px 0px;
  border-color: purple;

}


#projectLogo {
  display: block;
  position: relative;
  margin-left: 30vw;
 
}
#projectLogo img {
  height: 41vw;
  width: auto;
  margin: 0;
  padding: 0;
  margin-top: -6vw;
  
}
/* Slider */

.parent_slider {
  margin-top: 9vw;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 63vw;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    cursor: move;


  }
  


  .slide {
  
    height: 32vw;
    display: flex !important;
    
   
  }

  .picture {
    height: 63vw;
    width: auto;
    display: flex;

    margin-left: 20px;
    justify-content: space-evenly;
    justify-items: right;
   
  }
  
  .image {

    max-width: 50vw;
    height: 32vw;
    margin-right: 1vw;
    object-fit: contain;   
    position: relative;

  }

  .right_column,texts {
    background-color: #2a0653;
    height: 100%;
    padding-top: 2vw;
}
    
  .text {
   
    width: 100%;
    height: auto;
    display: flex;
    
  }
  .gg-controller {
    box-sizing: border-box;
    position: relative;
    display: inline-block !important;
    transform: scale(var(--ggs,1));
    width: 8px;
    height: 8px;
    border: 2px solid;
    border-radius: 100px;
    margin-right: 1vw;
}

.gg-controller::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    width: 14px;
    height: 14px;
    box-shadow:
        -6px -6px 0 -4px,
        6px 6px 0 -4px,
        6px -6px 0 -4px,
        -6px 6px 0 -4px;
    left: -5px;
    top: -5px;
    transform: rotate(45deg)
}
  span.slideDes {
    display: inline-block;
    color: white;
    /* text-transform: uppercase; */
    font-family: 'Alex Brush', cursive;
    letter-spacing: 4px;
    font-size: 2.5vw;
    font-weight: bold;
    background-color: hsl(231deg 27% 49%);
    padding: 1vw 8vw 1vw 2vw;
  }
  

  
  .text_slide {
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 2vw;
    max-width: 426px;
    font-size: 1.6vw;
    font-family: 'Roboto', sans-serif;
    line-height: 2vw;
    padding-top: 0px;
    font-weight: 300;
    letter-spacing: 0.44px;
    color: #ffffff;
    position: relative;
  }
  
  .author-slider {
    
    padding-top: 40px;
    margin-left: 2vw;
    position: relative;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6vw;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 1.12px;
    color: #c6c1c1;
    position: relative;
  }
  
  .slickkdots li button:hover,
  .slickkdots li button:focus {
    outline: none;
  }
  
  .slickkdots {
    display: flex;
    justify-content: center;
    position: relative;
    left: 10.5vw;
    list-style-type: none;
    top: -49vw;
  }
  .slickkdots li {
    margin: 0 12px;
  }
  .slickkdots button {
    display: block;
    width: 1vw;
    height: 1vw;
    border: none;
    border-radius: 100%;
    background-color: #EBEBEB;
    text-indent: -9999px;
  }
  .slickkdots li.slick-active button {
    background-color: #9200bf;
  }


/* Style the button that is used to open and close the collapsible content 
.collapsible {
    display: inline-flex;
    
    margin-right: 20px;
    padding-left: 20vw;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }*/
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) 
  .active, .collapsible:hover {
    background-color: #ccc;
  } 
  
  /* Style the collapsible content. Note: hidden by default 
  .content {
    padding-left: 20vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 18px;
    background-color: #f1f1f1;
    
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) 
  } 

 /* SKILLS */

 #skills {
  display: inline-flex;
  width: 100%;
  background-color: hsl(231deg 27% 49%);
  height: 18vw;
  padding: 3vw;
  padding-left: 1vw;
 }

 span#skillsDes {
  color: white;
  font-family: 'Alex Brush', cursive;
  font-size: 6vw;
  font-weight: bold;
  border-top: solid;
  border-bottom: solid;
  border-width: 2px;
  padding: 10px 29px;
  border-color: purple;
  position: absolute;
  margin-left: 36vw;
  margin-top: -16vw;
 }
 .softwareImage {
  height: 30vw;
  width: 20vw;
  margin-left: 1.5vw;
 }

 .softwareImage img {
  height: 9vw;
  width: 9vw;
 }

 h4.sotwareDes {
  font-size: 2vw;
  font-weight: 100;
  color: white;
  margin-top: 0.5vw;
  text-align: center;
 }

/* Bottom artist info */

  .kristi {

    padding-top: 0.5rem;
    position: absolute;
    margin-top: -14vw;
    
}


.kristi img {
  margin-left: 42vw;
  margin-right: auto;
  width: 15vw;
  height: auto;
  border-radius: 20px;
  border: 2px solid purple;
  margin-bottom: 2vw;
}
h3.kristiNimi {

  letter-spacing: 4px;
  font-size: 1.3vw;
  border: 1px solid white;
  font-family: 'PT Sans', sans-serif;
  background: rgba(42, 6, 83, 0.5);
  padding: 1.5vw;
  border-radius: 29px;
  font-weight: bold;
  margin-right: 40.5vw;
  margin-left: 41vw;
  text-align: center;
  color: white;
  opacity: 83%;

}
p#whatAmI {
  font-size: 1.5vw;
  border: 1px solid white;
  font-family: 'PT Sans', sans-serif;
  background: rgba(42, 6, 83, 0.5);
  opacity: 70%;
  padding: 1.5vw;
  border-radius: 29px;
  font-weight: 100;
  margin-bottom: 1.5vw;
  margin-right: 30vw;
  margin-left: 30vw;
  text-align: center;
  color: white;
}


/* Footer image */

  #bottomPicture {
margin-top: 29vw;
    position: relative;
    bottom: -6px;
}

#bottomPicture img{
   width: 100%;
   height: auto;
    position: relative;
    margin: auto;
    z-index: -2;
}

a#link {
  color: white;

}
